<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetsOn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PetsOn.styles.css" asp-append-version="true" />

</head>
<body>
    <header>

        <nav class="navbar fixed-top padding-top position-sticky navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand mb-0 h1" asp-area="" asp-controller="home" asp-action="index"><img class="d-inline-block align-top" src="..\img\logo-petson-apc1.svg" width="255" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarsupportedcontent"
                        aria-expanded="false" aria-label="toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between nav-item">
                    <ul class="navbar-nav flex-grow-1 align-items-center">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="home" asp-action="Privacy">Políticas de uso</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="home" asp-action="Cadastro">Cadastra-se</a>
                        </li>
                        <li class="nav-item nav-link text-white">
                            <button asp-area="" asp-controller="login" asp-action="Login" type="button" class="btn btn-login">Login</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    </header>
   @* <div class="container">*@
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - PetsOn - <a asp-area="" asp-controller="Home" asp-action="Privacy">Políticas de Uso</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
